/* container要素をスクロール可能にする */
.contents {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;

    >* {
        flex: 0 0 100%;
        scroll-snap-align: center;

        >* {
            width: 100%;
            height: 100%;

            >* {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.thumbnail {
    pointer-events: none;
    margin: auto;

    width: auto;
    max-width: var(--tmb_width);
    height: auto;
    max-height: 55vh;
    aspect-ratio: var(--aspect);

    // transition: width .2s, height .2s;

    &.zoom {
        position: fixed;
        top: 0;
        left: 0;

        display: grid;
        place-items: center;
        width: 100vw;
        height: var(--100vh);
        max-width: 100vw;
        max-height: var(--100vh);
        aspect-ratio: unset;
        z-index: 9999999999999999999999999;
    }
}

.zoomBackground {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(#000, 0);
    transition: background .2s;
    cursor: pointer;
    pointer-events: auto;
    backdrop-filter: blur(20px);

    &.zoom {
        background: rgb(#000, 0.7);
        width: 100%;
        height: 100%;
    }
}

.carousel {
    width: auto;
    max-width: var(--tmb_width);
    height: auto;
    max-height: 55vh;
    aspect-ratio: var(--aspect);

    position: relative;
    overflow: hidden;
    background: rgb(var(--c_bg_rgb), 0.7);
    backdrop-filter: blur(20px);
    box-shadow: var(--shadow_menu), var(--shadow_menuSub);

    cursor: default;
    pointer-events: auto;

    &.zoom {
        max-width: 100%;
        max-height: 100%;
        z-index: 1;
    }

    // .module,
    .buttonList {
        height: 2rem;
    }

    .module {
        font-size: .85em;
        padding: .9em 1.5em;
        width: max-content;
        max-width: 80%;
        border-radius: 1rem;
        background: rgb(var(--c_bg_rgb), 0.7);
        backdrop-filter: blur(6px);
        box-shadow: var(--shadow_menu), var(--shadow_menuSub);
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        transition: .2s opacity;
        opacity: 0;
        display: grid;
        place-items: center;
        z-index: 999999;

        &.open {
            opacity: 1;
            // @mq
        }
    }

    .buttonList {
        display: flex;
        border-radius: 1rem;
        background: rgb(var(--c_bg_rgb), 0.7);
        backdrop-filter: blur(6px);
        box-shadow: var(--shadow_menu), var(--shadow_menuSub);
        overflow: hidden;
        position: absolute;
        bottom: 1rem;
        right: 1rem;

        .prevButton,
        .zoomButton,
        .nextButton {
            display: grid;
            place-items: center;
            cursor: pointer;
            transition: .1s background, .1s opacity;

            &:hover,
            &.active {
                background: rgb(var(--c_bg_rgb), 0.5);
                opacity: .5;
            }

            &.zoomButton {
                aspect-ratio: 1;
            }

            &.prevButton,
            &.nextButton {
                aspect-ratio: 1.1;
            }
        }
    }
}