.wrapper {
	--base: 150vw;
	width: var(--base);
	height: calc(var(--base) * var(--width) / var(--height));
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(
		calc(-1% * var(--positionX) + (100vw - 40rem) / 2),
		calc(-1% * var(--positionY) + 50vh)
	);
	pointer-events: none;
	opacity: 0;
	&.open {
		opacity: 1;
	}
	* {
		width: 100% !important;
		height: 100% !important;
	}
	img {
		// object-fit: cover;
	}
}
