.animeBG {
    background: linear-gradient(
        70deg,
        hsla(0, 100%, 70%, 1),
        hsla(0, 100%, 70%, 1),
        hsla(45, 100%, 70%, 1),
        hsla(90, 100%, 70%, 1),
        hsla(134, 100%, 70%, 1),
        hsla(180, 100%, 70%, 1),
        hsla(225, 100%, 70%, 1),
        hsla(270, 100%, 70%, 1),
        hsla(315, 100%, 70%, 1),
        hsla(360, 100%, 70%, 1),
        hsla(360, 100%, 70%, 1)
      );
    background-size: 500% 500%;
    animation: move_eye 10s linear infinite alternate;
}
@keyframes move_eye {
    0% {
      background-position: top left;
    }
    50% {
      background-position: center center;
    }
    100% {
      background-position: bottom right;
    }
  }