.postSection {
	@media (min-width: 1000px) {
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);
	}
	display: grid;
	gap: 2vw;
    li {
        .title {
            display: flex;
            align-items: flex-end;
        }
    }
}
.postList {
	$gap: 10px;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	gap: $gap;
	height: min(40vh, 40rem);
	overflow: hidden;
	overflow-x: scroll;
	li {
		width: 20rem;
		height: calc((100% / 3) - $gap);
	}
}
.tagList {
	display: flex;
}
