.wrap {
	--left: 8vw;
	@media (max-width: 600px) {
		--left: 10vw;
	}
	color: var(--c_font_dark);
	transition: 0.3s opacity;
	position: fixed;
	top: 0;
	left: var(--left);
	height: 100vh;
	width: fit-content;
	// padding-right: 5vw;
	will-change: transform;
	.boxW {
		image-rendering: -webkit-optimize-contrast;
		backface-visibility: hidden;
		transform: rotate(-10deg);
		transform-origin: 0% 0%;
		.list {
			--width: 75vw;
			--paddingTop: 23vw;
			@media (max-width: 800px) {
				// --width: 80vw;
				--paddingTop: 15vh;
			}
			width: var(--width);
			padding-top: var(--paddingTop);
			display: flex;
			flex-flow: column;
			gap: 1vw;
			will-change: transform;
			position: relative;
			> li {
				position: relative;
				cursor: pointer;
				> ul {
					display: flex;
					gap: 1vw;
					> li {
						width: calc(var(--width) / var(--aspectSum) * var(--aspect));
						height: calc(var(--width) / var(--aspectSum));
						position: relative;
						.tmb {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							// &.youtube {
							// 	&::before {
							// 		content: "";
							// 		background-image: url("/youtube-play.svg");
							// 		position: absolute;
							// 		bottom: 0;
							// 		right: 0;

							// 		width: 10vw;
							// 		height: 5vw;
							// 		background: url("/youtube-play.svg") no-repeat 30%,
							// 			linear-gradient(
							// 					to bottom right,
							// 					transparent,
							// 					transparent,
							// 					#f00
							// 				)
							// 				no-repeat top left/100% 100%;
							// 		z-index: 1;
							// 	}
							// }
						}
						.categoryList {
							--fontSize: min(1vw, 1.1rem);
							font-size: var(--fontSize);
						}
						.meta {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							padding: 1.5rem;
							background: rgba(#000, 0.5);
							backdrop-filter: blur(2px);
							opacity: 0;
							transition: 0.3s opacity;
							will-change: opacity;
							@include hover {
								opacity: 1;
								// & + .categoryList {
								// 	transform: translateY(-100%);
								// }
							}
							.list_title {
								margin-bottom: 0.3rem;
								font-weight: bold;
							}
						}
					}
				}
			}
		}
	}
}
.catList {
	font-size: 1.6rem;
	font-weight: bold;
	position: fixed;
	padding: 4vmin 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	@media (max-width: 800px) {
		bottom: calc(2vmin + $main_marginTop);
	}
	> li {
		padding: 0.7vmin 5vmin;
		padding-right: 4vmin;
	}
}
.tmb {
	background: var(--c_bg_body);
	position: relative;
	&::after {
		background: rgba(var(--c_bg_body_reversal_rgb), 0.03);
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}
.categoryList {
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	transition: 0.3s transform;
	text-transform: uppercase;
	z-index: 9;
	> li {
		padding: calc(var(--fontSize) / 6) calc(var(--fontSize) / 2.5);
		margin-right: calc(var(--fontSize) / 2);
		color: var(--c_font_light);
		background-color: var(--c_bg_light);
		opacity: 0.6;
	}
}
.WorksOverlay {
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	overflow: visible;
	overflow-y: scroll;
	z-index: 99;
	display: flex;
	transition: 0.2s transform, 0.1s opacity;
	background: rgb(#000, 0.5);
	backdrop-filter: blur(3px);
	cursor: pointer;
	animation: opacityIn 0.3s forwards;
	z-index: 999;
	@keyframes opacityIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	.main {
		animation: bottomIn 0.3s forwards;
		pointer-events: none;
		@keyframes bottomIn {
			from {
				opacity: 0;
				transform: translateY(100%);
			}
			to {
				opacity: 1;
				transform: translateY(0);
			}
		}
		width: 40rem;
		height: fit-content;
		min-height: 100vh;
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
		padding-top: calc($main_marginTop + var(--padding) - 0.5rem);
		@media (max-width: 800px) {
			padding-top: calc(var(--padding) - 0.5rem);
		}
		position: absolute;
		top: 0;
		right: 2.5vw;

		--padding: min(4vw, 2.5rem);
		@media (max-width: 800px) {
			width: 100vw;
			right: 0;
		}
		> .main_inner {
			cursor: default;
			pointer-events: auto;
			height: fit-content;
			padding: var(--padding);
			padding-top: 0;
			padding-bottom: calc(var(--padding) * 0.9);
			@media (max-width: 800px) {
				padding-bottom: calc(var(--padding) - 1.3rem + $main_marginTop);
			}
			position: relative;
			--gap: 1rem;
			&::after {
				box-shadow: var(--shadow_menu), var(--shadow_menuSub);
				content: "";
				background: var(--c_bg_body);
				width: 100%;
				--gapTop: min(10rem, 40%);
				height: calc(100% - var(--gapTop));
				border-radius: 3rem 3rem 0 0;
				position: absolute;
				top: var(--gapTop);
				right: 0;
				z-index: -1;
			}
			.tmb {
				box-shadow: var(--shadow_menu), var(--shadow_menuSub);
				position: relative;
				max-width: 100%;
				max-height: 60vh;
				aspect-ratio: var(--aspect) / 1;
				margin: auto;
				> span {
					display: block !important;
				}
				&.youtube {
					cursor: pointer;
					&::before {
						content: url("/youtube-play.svg");
						width: 16%;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						z-index: 1;
						transition: opacity 0.1s;
					}
					@include hover {
						&::before {
							opacity: 0.8;
						}
					}
				}
				> .youtube {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 2;
					display: none;
					&.play {
						display: block;
					}
				}
				> .categoryList {
					--fontSize: 0.9rem;
					font-size: var(--fontSize);
				}
				& + * {
					margin-top: calc(var(--gap) * 1.5);
				}
			}
			.title {
				font-size: 1.5rem;
				font-weight: bold;
				// hover
				display: inline-block;
				position: relative;
			}
			.meta {
				// margin-top: 0.3rem;
				.tagList {
					display: flex;
					> li {
						&:not(:last-child)::after {
							content: ",";
							margin-right: 0.5em;
						}
					}
				}
			}
			article {
				margin-top: var(--gap);
				p {
					margin-top: 0.8em;
					strong {
						font-weight: bold;
						display: inline-block;
					}
				}
				a {
					color: var(--gradient_1);
					text-shadow: 0 0 0.05em rgba(var(--c_bg_body_reversal_rgb), 0.7),
						0 0 0.2em rgba(var(--c_bg_body_reversal_rgb), 0.2);
					@include hover {
						opacity: 0.7;
					}
				}
				hr {
					width: 30%;
					height: 0.2rem;
					background: rgba(var(--c_bg_reversal_rgb), 0.03);
					border-radius: 99rem;
					margin: 1em auto;
				}
				h2 {
					font-weight: bold;
					&:not(:first-child, hr + h2) {
						margin-top: 1.3rem;
					}
				}
			}
		}
	}
}
